li {
    color: blue;
}

li.box1 {
    height: 100px;
    width: 100px;

}

.red {
    color: red;
}

.bold {
    font-weight: bold;

}

div {
    border: 2px solid black;
    padding: 10px;  
}

.melynas-blokas {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 30px;
}


.remelis {
    border: 2px solid red;
    padding: 10px;
}
.konteineris {
    text-align: center;
}
.stulpelis {
    display: inline-block;
    width: 30%;
    margin: 10px;
    border: 1px solid black;
}

.gallery img {
width: 200px;
height: 150px;  
padding: 5px;
}   

.remelis2 {
    border: 2px solid rgb(38, 0, 128);
    padding: 20px;
    margin: 30px;
}