.product-page {
    padding: 20px;
}
/* telefonams */
.product-single {
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
}
.produktas1 img {
width: 100%;
border-radius: 10px;
align-items: center;

}
.detales {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.kaina {
    font-size: 20px;
    font-weight: bold;
    color: green;
}
button {
    padding: 12px;
    background: #1e293b;
    color: white;
    border: none;
    cursor: pointer;
}

/*Desktop */

